.episode-list-bcomponent {
    width: 100%;

    .episode-entity-item {
        display: grid;
        padding: 10px 10px;
        grid-template-columns: 15% 40% 30% 15%;

        .episode-index-label,
        .episode-title-label,
        .episode-rating,
        .episode-release-label {
            display: flex;
            align-items: center;
        }

        .episode-release-label {
            justify-content: end;
        }
    }
}

@media screen and (max-width: 700px) {
    .episode-entity-item {
        grid-template-columns: 16% 24% 39% 21% !important;
    }
}
